*{
    margin: 0;
    padding: 0;
}

#box{
    display: flex;
    justify-content: center;
    background-color: rgb(227, 237, 245);
}
#title{
    width: 60%;
    padding-bottom: 0;
    font-family:'Franklin Gothic Medium';
    text-align: center;
    font-size: xx-large;
    color: rgb(147, 139, 145);   
}
.background{
    height:100vh;
    width:100vw;
    background-color: rgb(99, 96, 96);
    position: absolute;
}

.toolbox-cont{
    background-color: rgb(13, 75, 92);
    height: 100px;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.toolbox-priority-cont{
    display: flex;
    background-color: rgb(60, 63, 63);
    width: 300px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    border-radius: 10px;
}

.color{
    width: 40px;
    height: 30px;
    background-color: aqua;
    border-radius: 3px;
}

.lightpink{
   background-color: lightpink;
}

.lightblue{
background-color: lightblue;
}

.lightgreen{
background-color: lightgreen;
}

.black{
background-color: black;
}

.action-btn-cont{
    background-color:  rgb(13, 75, 92);
    height: 70px;
    display: flex;
    width: 100px;
    margin-left: 10px;
    display: flex;
    gap:3px;
    border-radius: 10px;
    outline: none;
}



.add-btn:hover, .remove-btn:hover{
    background-color: rgb(39, 214, 16);
}

.color:hover{
    background-color: rgb(48, 49, 48);
}

.remove-btn{
    background-color: rgb(60, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 7.5vh;
    width:50%;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}

.add-btn{
    background-color: rgb(60, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 7.5vh;
    width:50%;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    
}

.active{
    border: 5px solid rgb(219, 238, 14);
}

.priority-color{
    height :10vh;
    width: 8vw;
    border-radius: 5px;
}

.modal-cont{
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 2;
}

.textarea-cont{
    font-size: 32px;
    width: 75%;
    outline:none;
    height: 100%;
    background-color: rgb(176, 171, 179);
    resize: none;
    border:none;
    padding-left: 20px;
}

.priority-colors-container{
    background-color: rgb(47, 49, 48);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
}

.main-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.ticket-cont{
    height: 150px; 
    width: 150px;
    background-color: coral;
    position: relative;
    border-radius: 10px;
}

.ticket-id{
    background-color: yellow;
    font-family: calibri;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.ticket-color{
    height: 15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ticket-lock{
    position: absolute;
    right:5%;
    bottom: 5%;
}

.task-area{
    padding-left: 5px;
    padding-top: 5px;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
    height: 17vh;
    outline: none;
}



















/* .main-cont{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.ticket-cont{
    height: 150px;
    width: 200px;
    background-color: coral;
    position: relative;
}

.ticket-color{
    height: 16px;
}

.ticket-id{
    height: 32px;
    background-color: yellow;
}

.ticket-lock{
    position: absolute;
    right: 5%;
    bottom: 5%;
} */
