*{
    margin: 0;
    padding: 0;
}

.toolbox-cont{
    background-color: rgb(24, 3, 3);
    height: 100px;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont{
    display: flex;
    background-color: rgb(60, 63, 63);
    width: 300px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.color{
    width: 40px;
    height: 30px;
    background-color: aqua;
}

.lightpink{
   background-color: lightpink;
}

.lightblue{
background-color: lightblue;
}

.lightgreen{
background-color: lightgreen;
}

.black{
background-color: black;
}

.action-btn-cont{
    background-color: rgb(19, 92, 88);
    height: 70px;
    display: flex;
    width: 100px;
    margin-left: 30px;
    display: flex;
}



.add-btn:hover, .remove-btn:hover{
    background-color: rgb(39, 214, 16);
}

.color:hover{
    background-color: rgb(48, 49, 48);
}

.remove-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 8vh;
    width:50%;
    border: 1px solid black;
}

.add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 8vh;
    width:50%;
    border: 1px solid black;
}

.active{
    border: 5px solid rgb(248, 232, 6);
}

.priority-color{
    
    height :5vh;
    width: 10vw;

}

.modal-cont{
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 2;
}

.textarea-cont{
    font-size: 32px;
    width: 75%;
    outline:none;
    height: 100%;
    background-color: rgb(176, 171, 179);
    resize: none;
    border:none;
}

.priority-colors-container{
    background-color: rgb(47, 49, 48);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
}

.main-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.ticket-cont{
    height: 150px; 
    width: 150px;
    background-color: coral;
    position: relative;
}

.ticket-id{
    background-color: yellow;
}

.ticket-color{
    height: 10%;
}

.ticket-lock{
    position: absolute;
    right:5%;
    bottom: 5%;
}




















/* .main-cont{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.ticket-cont{
    height: 150px;
    width: 200px;
    background-color: coral;
    position: relative;
}

.ticket-color{
    height: 16px;
}

.ticket-id{
    height: 32px;
    background-color: yellow;
}

.ticket-lock{
    position: absolute;
    right: 5%;
    bottom: 5%;
} */
